body {
  font-size: 16px;
  font-family: Arial, sans-serif;
}
.content {
  margin: 0 3em;
}
.heading {
  font-size: 2em;
}
.card-holder {
  width: 100%;
  display: grid;
  gap: 3em 3em;
  margin-bottom: 3em;
}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.5em rgb(199, 199, 199);
  border-radius: 0.5em;
}
.card-image-holder {
  background-color: #6ba2d9;
  flex: 1;
  min-height: 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.card-image {
  height: 100%;
  display: block;
  margin: 0 auto;
}
.card-title {
  margin: 0.25em 0;
  text-align: center;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  font-size: 0.75em;
}
@media screen and (max-width: 600px) {
  .card-holder {
    grid-template-columns: auto;
    justify-content: center;
  }
  .card {
    height: 8vh;
    width: 12vh;
  }
}
@media screen and (min-width: 600px) {
  .card-holder {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
  .card {
    height: 8vh;
    width: 12vh;
  }
}
@media screen and (min-width: 992px) {
  .card-holder {
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
  }
  .card {
    height: 8vw;
    width: 12vw;
  }
}
